* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 50px;
}

.select {
  margin-left: 50px;
  span {
    display: block;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
  }
}